In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('mlb_data.csv')

In [22]:
df.head(10)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,4/3/16,on grass,Night Game,Kansas City Royals,...,74,14,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,2458,31042.0,Toronto Blue Jays,2,7,5,4/3/16,on turf,Day Game,Tampa Bay Rays,...,72,0,in unknown direction,In Dome,8,2.850000,regular season,0,1,Loss
2,2459,39500.0,St. Louis Cardinals,0,5,1,4/3/16,on grass,Day Game,Pittsburgh Pirates,...,39,14,out to Leftfield,Unknown,5,3.033333,regular season,1,0,Win
3,2448,49289.0,Seattle Mariners,2,4,2,4/4/16,on grass,Day Game,Texas Rangers,...,83,4,in from Rightfield,Sunny,5,2.633333,regular season,1,0,Win
4,2449,15116.0,Toronto Blue Jays,1,7,5,4/4/16,on turf,Night Game,Tampa Bay Rays,...,72,0,in unknown direction,In Dome,8,2.966667,regular season,0,1,Loss
5,2450,44317.0,Los Angeles Dodgers,0,17,15,4/4/16,on grass,Day Game,San Diego Padres,...,72,12,from Left to Right,Cloudy,15,3.166667,regular season,0,1,Loss
6,2451,35067.0,Chicago White Sox,1,7,4,4/4/16,on grass,Night Game,Oakland Athletics,...,65,5,out to Rightfield,Sunny,7,2.933333,regular season,0,1,Loss
7,2452,44318.0,San Francisco Giants,0,15,12,4/4/16,on grass,Day Game,Milwaukee Brewers,...,65,0,in unknown direction,In Dome,15,3.583333,regular season,0,1,Loss
8,2453,43683.0,Philadelphia Phillies,2,6,2,4/4/16,on grass,Day Game,Cincinnati Reds,...,50,16,from Left to Right,Cloudy,8,2.933333,regular season,1,0,Win
9,2454,45785.0,Minnesota Twins,0,7,2,4/4/16,on grass,Day Game,Baltimore Orioles,...,58,6,from Right to Left,Overcast,5,2.800000,regular season,1,0,Win

In [23]:
cols = [0,1,7,8,13,14,15,16,17,18,19,20,21,22]
df.drop(df.columns[cols],axis=1,inplace=True)
df

,away_team,away_team_errors,away_team_hits,away_team_runs,date,home_team,home_team_errors,home_team_hits,home_team_runs,home_team_win,home_team_loss,home_team_outcome
0,New York Mets,1,7,3,4/3/16,Kansas City Royals,0,9,4,1,0,Win
1,Toronto Blue Jays,2,7,5,4/3/16,Tampa Bay Rays,1,7,3,0,1,Loss
2,St. Louis Cardinals,0,5,1,4/3/16,Pittsburgh Pirates,1,9,4,1,0,Win
3,Seattle Mariners,2,4,2,4/4/16,Texas Rangers,1,1,3,1,0,Win
4,Toronto Blue Jays,1,7,5,4/4/16,Tampa Bay Rays,0,8,3,0,1,Loss
...,...,...,...,...,...,...,...,...,...,...,...,...
2458,Cleveland Indians,1,8,1,10/28/16,Chicago Cubs,0,5,0,0,1,Loss
2459,Cleveland Indians,0,10,7,10/29/16,Chicago Cubs,2,7,2,0,1,Loss
2460,Cleveland Indians,1,6,2,10/30/16,Chicago Cubs,0,7,3,1,0,Win
2461,Chicago Cubs,0,13,9,11/1/16,Cleveland Indians,1,6,3,0,1,Loss
2462,Chicago Cubs,3,13,8,11/2/16,Cleveland Indians,1,11,7,0,1,Loss

In [24]:
cols = [5,6,9,11]
away_df = df.drop(df.columns[cols],axis=1,inplace=False)
away_df = away_df.rename(columns={"home_team_loss": "away_team_win", "home_team_hits": "hits_against", "home_team_runs": "runs_against"})
away_df['home'] = 0
away_df

,away_team,away_team_errors,away_team_hits,away_team_runs,date,hits_against,runs_against,away_team_win,home
0,New York Mets,1,7,3,4/3/16,9,4,0,0
1,Toronto Blue Jays,2,7,5,4/3/16,7,3,1,0
2,St. Louis Cardinals,0,5,1,4/3/16,9,4,0,0
3,Seattle Mariners,2,4,2,4/4/16,1,3,0,0
4,Toronto Blue Jays,1,7,5,4/4/16,8,3,1,0
...,...,...,...,...,...,...,...,...,...
2458,Cleveland Indians,1,8,1,10/28/16,5,0,1,0
2459,Cleveland Indians,0,10,7,10/29/16,7,2,1,0
2460,Cleveland Indians,1,6,2,10/30/16,7,3,0,0
2461,Chicago Cubs,0,13,9,11/1/16,6,3,1,0
2462,Chicago Cubs,3,13,8,11/2/16,11,7,1,0

In [25]:
cols = [0,1,10,11]
home_df = df.drop(df.columns[cols],axis=1,inplace=False)
home_df = home_df.rename(columns={"away_team_hits": "hits_against", "away_team_runs": "runs_against"})
home_df['home'] = 1
home_df

,hits_against,runs_against,date,home_team,home_team_errors,home_team_hits,home_team_runs,home_team_win,home
0,7,3,4/3/16,Kansas City Royals,0,9,4,1,1
1,7,5,4/3/16,Tampa Bay Rays,1,7,3,0,1
2,5,1,4/3/16,Pittsburgh Pirates,1,9,4,1,1
3,4,2,4/4/16,Texas Rangers,1,1,3,1,1
4,7,5,4/4/16,Tampa Bay Rays,0,8,3,0,1
...,...,...,...,...,...,...,...,...,...
2458,8,1,10/28/16,Chicago Cubs,0,5,0,0,1
2459,10,7,10/29/16,Chicago Cubs,2,7,2,0,1
2460,6,2,10/30/16,Chicago Cubs,0,7,3,1,1
2461,13,9,11/1/16,Cleveland Indians,1,6,3,0,1
2462,13,8,11/2/16,Cleveland Indians,1,11,7,0,1

In [26]:
rfd = {}
rad = {}
hfd = {}
had = {}
ed = {}
wd = {}
rf = []
ra = []
hf = []
ha = []
e = []
w = []

for i in home_df.iterrows():          
        #runs for calculation
        if i[1]['home_team'] in rfd:
            rf.append(rfd[i[1]['home_team']])
            rfd[i[1]['home_team']] = rfd[i[1]['home_team']] + int(i[1]['home_team_runs'])
        else:
            rfd[i[1]['home_team']] = int(i[1]['home_team_runs'])
            rf.append(0)

        #runs against calculation
        if i[1]['home_team'] in rad:
            ra.append(rad[i[1]['home_team']])
            rad[i[1]['home_team']] = rad[i[1]['home_team']] + int(i[1]['runs_against'])
        else:
            rad[i[1]['home_team']] = int(i[1]['runs_against'])
            ra.append(0)
        
        #hits for calculation
        if i[1]['home_team'] in hfd:
            hf.append(hfd[i[1]['home_team']])
            hfd[i[1]['home_team']] = hfd[i[1]['home_team']] + int(i[1]['home_team_hits'])
        else:
            hfd[i[1]['home_team']] = int(i[1]['home_team_hits'])
            hf.append(0)

        #hits against calculation
        if i[1]['home_team'] in had:
            ha.append(had[i[1]['home_team']])
            had[i[1]['home_team']] = had[i[1]['home_team']] + int(i[1]['hits_against'])
        else:
            had[i[1]['home_team']] = int(i[1]['hits_against'])
            ha.append(0)
            
        #error calculation
        if i[1]['home_team'] in ed:
            e.append(ed[i[1]['home_team']])
            ed[i[1]['home_team']] = ed[i[1]['home_team']] + int(i[1]['home_team_errors'])
        else:
            ed[i[1]['home_team']] = int(i[1]['home_team_errors'])
            e.append(0)
            
        #wins calculation
        if i[1]['home_team'] in wd:
            w.append(wd[i[1]['home_team']])
            wd[i[1]['home_team']] = wd[i[1]['home_team']] + int(i[1]['home_team_win'])
        else:
            wd[i[1]['home_team']] = int(i[1]['home_team_win'])
            w.append(0)

home_df['season_hits_for'] = hf
home_df['season_hits_against'] = ha
home_df['season_runs_for'] = rf
home_df['season_runs_against'] = ra
home_df['season_errors'] = e
home_df['season_wins'] = w

home_df.head(50)
home_df.to_csv('home_stats.csv')

In [27]:
rfd = {}
rad = {}
hfd = {}
had = {}
ed = {}
wd = {}
rf = []
ra = []
hf = []
ha = []
e = []
w = []

for i in away_df.iterrows():          
        #runs for calculation
        if i[1]['away_team'] in rfd:
            rf.append(rfd[i[1]['away_team']])
            rfd[i[1]['away_team']] = rfd[i[1]['away_team']] + int(i[1]['away_team_runs'])
        else:
            rfd[i[1]['away_team']] = int(i[1]['away_team_runs'])
            rf.append(0)

        #runs against calculation
        if i[1]['away_team'] in rad:
            ra.append(rad[i[1]['away_team']])
            rad[i[1]['away_team']] = rad[i[1]['away_team']] + int(i[1]['runs_against'])
        else:
            rad[i[1]['away_team']] = int(i[1]['runs_against'])
            ra.append(0)
        
        #hits for calculation
        if i[1]['away_team'] in hfd:
            hf.append(hfd[i[1]['away_team']])
            hfd[i[1]['away_team']] = hfd[i[1]['away_team']] + int(i[1]['away_team_hits'])
        else:
            hfd[i[1]['away_team']] = int(i[1]['away_team_hits'])
            hf.append(0)

        #hits against calculation
        if i[1]['away_team'] in had:
            ha.append(had[i[1]['away_team']])
            had[i[1]['away_team']] = had[i[1]['away_team']] + int(i[1]['hits_against'])
        else:
            had[i[1]['away_team']] = int(i[1]['hits_against'])
            ha.append(0)
            
        #error calculation
        if i[1]['away_team'] in ed:
            e.append(ed[i[1]['away_team']])
            ed[i[1]['away_team']] = ed[i[1]['away_team']] + int(i[1]['away_team_errors'])
        else:
            ed[i[1]['away_team']] = int(i[1]['away_team_errors'])
            e.append(0)
            
        #wins calculation
        if i[1]['away_team'] in wd:
            w.append(wd[i[1]['away_team']])
            wd[i[1]['away_team']] = wd[i[1]['away_team']] + int(i[1]['away_team_win'])
        else:
            wd[i[1]['away_team']] = int(i[1]['away_team_win'])
            w.append(0)

away_df['season_hits_for'] = hf
away_df['season_hits_against'] = ha
away_df['season_runs_for'] = rf
away_df['season_runs_against'] = ra
away_df['season_errors'] = e
away_df['season_wins'] = w

away_df.head(50)
away_df.to_csv('away_stats.csv')

In [28]:
home_df = home_df.rename(columns={"home_team": "team", "home_team_errors": "errors",
                                  "home_team_hits": "hits", "home_team_runs": "runs",
                                 "home_team_win": "win"})
home_df = home_df[["date", "team", "home","errors",
              "hits", "runs", "hits_against", "runs_against", 
              "season_hits_for", "season_hits_against", "season_runs_for",
             "season_runs_against","season_errors","season_wins","win"]]

In [29]:
away_df = away_df.rename(columns={"away_team": "team", "away_team_errors": "errors",
                                  "away_team_hits": "hits", "away_team_runs": "runs",
                                 "away_team_win": "win"})
away_df = away_df[["date", "team", "home", "errors",
              "hits", "runs", "hits_against", "runs_against", 
              "season_hits_for", "season_hits_against", "season_runs_for",
             "season_runs_against","season_errors","season_wins","win"]]

In [30]:
home_df

,date,team,home,errors,hits,runs,hits_against,runs_against,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,win
0,4/3/16,Kansas City Royals,1,0,9,4,7,3,0,0,0,0,0,0,1
1,4/3/16,Tampa Bay Rays,1,1,7,3,7,5,0,0,0,0,0,0,0
2,4/3/16,Pittsburgh Pirates,1,1,9,4,5,1,0,0,0,0,0,0,1
3,4/4/16,Texas Rangers,1,1,1,3,4,2,0,0,0,0,0,0,1
4,4/4/16,Tampa Bay Rays,1,0,8,3,7,5,7,7,3,5,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,10/28/16,Chicago Cubs,1,0,5,0,8,1,704,572,408,254,51,61,0
2459,10/29/16,Chicago Cubs,1,2,7,2,10,7,709,580,408,255,51,61,0
2460,10/30/16,Chicago Cubs,1,0,7,3,6,2,716,590,410,262,53,61,1
2461,11/1/16,Cleveland Indians,1,1,6,3,13,9,821,727,474,357,46,58,0
2462,11/2/16,Cleveland Indians,1,1,11,7,13,8,827,740,477,366,47,58,0

In [31]:
frames = [home_df, away_df]

#stack the frames into a single set for analysis
df = pd.concat(frames)
df.head()

,date,team,home,errors,hits,runs,hits_against,runs_against,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,win
0,4/3/16,Kansas City Royals,1,0,9,4,7,3,0,0,0,0,0,0,1
1,4/3/16,Tampa Bay Rays,1,1,7,3,7,5,0,0,0,0,0,0,0
2,4/3/16,Pittsburgh Pirates,1,1,9,4,5,1,0,0,0,0,0,0,1
3,4/4/16,Texas Rangers,1,1,1,3,4,2,0,0,0,0,0,0,1
4,4/4/16,Tampa Bay Rays,1,0,8,3,7,5,7,7,3,5,1,0,0

In [32]:
df

,date,team,home,errors,hits,runs,hits_against,runs_against,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,win
0,4/3/16,Kansas City Royals,1,0,9,4,7,3,0,0,0,0,0,0,1
1,4/3/16,Tampa Bay Rays,1,1,7,3,7,5,0,0,0,0,0,0,0
2,4/3/16,Pittsburgh Pirates,1,1,9,4,5,1,0,0,0,0,0,0,1
3,4/4/16,Texas Rangers,1,1,1,3,4,2,0,0,0,0,0,0,1
4,4/4/16,Tampa Bay Rays,1,0,8,3,7,5,7,7,3,5,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,10/28/16,Cleveland Indians,0,1,8,1,5,0,679,672,337,339,46,44,1
2459,10/29/16,Cleveland Indians,0,0,10,7,7,2,687,677,338,339,47,45,1
2460,10/30/16,Cleveland Indians,0,1,6,2,7,3,697,684,345,341,47,46,0
2461,11/1/16,Chicago Cubs,0,0,13,9,6,3,797,642,453,339,58,50,1
2462,11/2/16,Chicago Cubs,0,3,13,8,11,7,810,648,462,342,58,51,1

In [33]:
df = df.replace({'team': {'St. Louis Cardinals':'STL',
                     'Kansas City Royals': 'KAN',
                     'Cincinnati Reds': 'CIN',
                     'Baltimore Orioles': 'BAL',
                     'Atlanta Braves': 'ATL', 
                     'Arizona Diamondbacks': 'ARI', 
                     'Texas Rangers': 'TEX',
                     'Tampa Bay Rays': 'TAM', 
                     'San Diego Padres': 'SDG', 
                     'Pittsburgh Pirates': 'PIT',
                     'Oakland Athletics': 'OAK', 
                     'New York Yankees': 'NYY', 
                     'Milwaukee Brewers': 'MIL',
                     'Miami Marlins': 'MIA', 
                     'Seattle Mariners': 'SEA', 
                     'Philadelphia Phillies': 'PHI',
                     'New York Mets': 'NYM', 
                     'Minnesota Twins': 'MIN', 
                     'Houston Astros': 'HOU',
                     'Detroit Tigers': 'DET', 
                     'Chicago Cubs': 'CUB', 
                     'Colorado Rockies': 'COL',
                     'Washington Nationals': 'WAS', 
                     'Toronto Blue Jays': 'TOR',
                     'San Francisco Giants': 'SFO', 
                     'Chicago White Sox': 'CWS', 
                     'Boston Red Sox': 'BOS',
                     'Los Angeles Dodgers': 'LAD', 
                     'Cleveland Indians': 'CLE',
                     'Los Angeles Angels of Anaheim': 'LAA'
                    }})

df

,date,team,home,errors,hits,runs,hits_against,runs_against,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,win
0,4/3/16,KAN,1,0,9,4,7,3,0,0,0,0,0,0,1
1,4/3/16,TAM,1,1,7,3,7,5,0,0,0,0,0,0,0
2,4/3/16,PIT,1,1,9,4,5,1,0,0,0,0,0,0,1
3,4/4/16,TEX,1,1,1,3,4,2,0,0,0,0,0,0,1
4,4/4/16,TAM,1,0,8,3,7,5,7,7,3,5,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,10/28/16,CLE,0,1,8,1,5,0,679,672,337,339,46,44,1
2459,10/29/16,CLE,0,0,10,7,7,2,687,677,338,339,47,45,1
2460,10/30/16,CLE,0,1,6,2,7,3,697,684,345,341,47,46,0
2461,11/1/16,CUB,0,0,13,9,6,3,797,642,453,339,58,50,1
2462,11/2/16,CUB,0,3,13,8,11,7,810,648,462,342,58,51,1

In [34]:
df.to_csv('2016_stats_cleaned.csv')

In [46]:
#manually clean and add lines
clean_df = pd.read_csv('2016_stats_manual_clean.csv')

In [47]:
clean_df

,Unnamed: 0,date,team,home,errors,hits,runs,hits_against,runs_against,season_hits_for,...,season_errors,season_wins,win,Team,Final,Close,Run Line,Unnamed: 20,Close OU,Unnamed: 22
0,0,4/3/16,KAN,1,0,9,4,7,3,0,...,0,0,1,KAN,4,110,1.5,-165,8.0,-117
1,0,4/3/16,NYM,0,1,7,3,9,4,0,...,0,0,0,NYM,3,-120,-1.5,145,8.0,-103
2,2,4/3/16,PIT,1,1,9,4,5,1,0,...,0,0,1,PIT,4,-119,-1.5,190,6.5,-110
3,2,4/3/16,STL,0,0,5,1,9,4,0,...,0,0,0,STL,1,109,1.5,-230,6.5,-110
4,1,4/3/16,TAM,1,1,7,3,7,5,0,...,0,0,0,TAM,3,-121,-1.5,180,7.0,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,2460,10/30/16,CUB,1,0,7,3,6,2,716,...,53,61,1,CUB,3,-220,-1.5,-101,6.5,-115
4922,2461,11/1/16,CLE,1,1,6,3,13,9,821,...,46,58,0,CLE,3,141,1.5,-131,7.5,-105
4923,2461,11/1/16,CUB,0,0,13,9,6,3,797,...,58,50,1,CUB,9,-156,-1.5,111,7.5,-115
4924,2462,11/2/16,CLE,1,1,11,7,13,8,827,...,47,58,0,CLE,7,119,1.5,-162,6.5,-110
4925,2462,11/2/16,CUB,0,3,13,8,11,7,810,...,58,51,1,CUB,8,-134,-1.5,142,6.5,-110

In [48]:
cols = [0,1,2,16,17,21,22]
clean_df.drop(clean_df.columns[cols],axis=1,inplace=True)
clean_df

,home,errors,hits,runs,hits_against,runs_against,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,win,Close,Run Line,Unnamed: 20
0,1,0,9,4,7,3,0,0,0,0,0,0,1,110,1.5,-165
1,0,1,7,3,9,4,0,0,0,0,0,0,0,-120,-1.5,145
2,1,1,9,4,5,1,0,0,0,0,0,0,1,-119,-1.5,190
3,0,0,5,1,9,4,0,0,0,0,0,0,0,109,1.5,-230
4,1,1,7,3,7,5,0,0,0,0,0,0,0,-121,-1.5,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,1,0,7,3,6,2,716,590,410,262,53,61,1,-220,-1.5,-101
4922,1,1,6,3,13,9,821,727,474,357,46,58,0,141,1.5,-131
4923,0,0,13,9,6,3,797,642,453,339,58,50,1,-156,-1.5,111
4924,1,1,11,7,13,8,827,740,477,366,47,58,0,119,1.5,-162
4925,0,3,13,8,11,7,810,648,462,342,58,51,1,-134,-1.5,142

In [49]:
rl = []

for i in clean_df.iterrows():
    #find runline winner
    diff = int(i[1]['runs']) + int(i[1]['Run Line'])
    if diff > int(i[1]['runs_against']):
        rl.append(1)
    else:
        rl.append(0)

clean_df['rl_win'] = rl
clean_df = clean_df.rename(columns={"Unnamed: 20": "rl_odds","Close": "ml_odds","win": "ml_win"})
cols = [14]
clean_df.drop(clean_df.columns[cols],axis=1,inplace=True)
clean_df

,home,errors,hits,runs,hits_against,runs_against,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,ml_win,ml_odds,rl_odds,rl_win
0,1,0,9,4,7,3,0,0,0,0,0,0,1,110,-165,1
1,0,1,7,3,9,4,0,0,0,0,0,0,0,-120,145,0
2,1,1,9,4,5,1,0,0,0,0,0,0,1,-119,190,1
3,0,0,5,1,9,4,0,0,0,0,0,0,0,109,-230,0
4,1,1,7,3,7,5,0,0,0,0,0,0,0,-121,180,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4921,1,0,7,3,6,2,716,590,410,262,53,61,1,-220,-101,0
4922,1,1,6,3,13,9,821,727,474,357,46,58,0,141,-131,0
4923,0,0,13,9,6,3,797,642,453,339,58,50,1,-156,111,1
4924,1,1,11,7,13,8,827,740,477,366,47,58,0,119,-162,0
4925,0,3,13,8,11,7,810,648,462,342,58,51,1,-134,142,0

In [50]:
cols = [1,2,3,4,5]
clean_df.drop(clean_df.columns[cols],axis=1,inplace=True)
final_df = clean_df[["home", "season_hits_for", "season_hits_against", "season_runs_for",
              "season_runs_against", "season_errors", "season_wins", "ml_odds", 
              "rl_odds","ml_win","rl_win"]]

In [61]:
final_df.to_csv('final_df.csv')
final_df

,home,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,ml_odds,rl_odds,ml_win,rl_win
0,1,0,0,0,0,0,0,110,-165,1,1
1,0,0,0,0,0,0,0,-120,145,0,0
2,1,0,0,0,0,0,0,-119,190,1,1
3,0,0,0,0,0,0,0,109,-230,0,0
4,1,0,0,0,0,0,0,-121,180,0,0
...,...,...,...,...,...,...,...,...,...,...,...
4921,1,716,590,410,262,53,61,-220,-101,1,0
4922,1,821,727,474,357,46,58,141,-131,0,0
4923,0,797,642,453,339,58,50,-156,111,1,1
4924,1,827,740,477,366,47,58,119,-162,0,0
4925,0,810,648,462,342,58,51,-134,142,1,0

In [52]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [54]:
#target = final_df["rl_win"]
target = final_df["ml_win"]
target_names = ["loss", "win"]

In [55]:
data = final_df.drop(columns=['ml_win', 'rl_win'],axis=1)
feature_names = data.columns

In [56]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [59]:
param_grid = {
    'n_estimators': [175,180,185,190],
    'criterion': ['gini','entropy']
}

grid = GridSearchCV(RandomForestClassifier(), param_grid, verbose=True, n_jobs=-1)

grid.fit(X_train, y_train)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:   18.8s finished

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'n_estimators': [175, 180, 185, 190]},
             verbose=True)

In [60]:
print(grid.best_params_)

{'criterion': 'gini', 'n_estimators': 175}