In [1]:
import pandas as pd
from keras.models import Sequential, model_from_json
from keras.layers import Dense
from sklearn.model_selection import train_test_split
from tensorflow.keras.utils import to_categorical
from sklearn.preprocessing import LabelEncoder

Using TensorFlow backend.

In [2]:
df = pd.read_csv("raw_input.csv")
cols = [0,1]
df2 = df.drop(df.columns[cols],axis=1)
df2

,home,season_hits_for,season_hits_against,season_runs_for,season_runs_against,season_errors,season_wins,ml_odds,rl_odds
0,1,68,67,36,38,6,3,162,-111
1,0,35,32,26,21,3,4,-183,-107
2,1,53,52,35,29,2,4,-132,139
3,0,62,63,27,36,4,3,117,-161
4,1,43,45,37,33,3,2,-174,-112
5,0,45,61,28,39,5,4,154,-105
6,1,37,50,25,36,4,2,169,106
7,0,49,55,38,28,7,4,-192,-124
8,1,53,51,27,36,1,2,-158,-108
9,0,55,49,31,31,5,3,141,-110
10,1,38,29,21,9,2,4,-108,133
11,0,56,55,44,26,4,5,-105,-123
12,1,50,42,24,15,3,5,-121,131
13,0,45,46,36,22,1,4,107,-150
14,1,49,39,38,33,4,4,-240,-108
15,0,33,46,23,30,5,2,188,-110
16,1,58,69,27,45,8,3,107,-154
17,0,28,30,13,16,4,2,-121,133
18,1,49,48,33,25,3,3,-179,-119
19,0,54,56,33,37,2,2,157,102
20,1,39,53,21,24,3,3,-197,-124
21,0,63,60,36,51,6,3,173,107
22,1,44,47,20,35,2,2,116,-134
23,0,63,45,37,17,2,5,-131,116

In [3]:
def load_model():
    # loading model
    model = model_from_json(open('ML_model_architecture.json').read())
    model.load_weights('ML_model_weights.h5')
    model.compile(loss='categorical_crossentropy', optimizer='adam')
    return model

In [4]:
# load
model = load_model()

# predictions
predictions = model.predict_classes(df2, verbose=2)
print(predictions)

[0 1 1 0 1 0 0 1 1 0 0 1 1 0 1 0 0 1 1 0 1 0 0 1]

In [5]:
p = predictions.tolist()
df['ml_outcome'] = p
cols = [0,3,4,5,6,7,8,10]
df.drop(df.columns[cols],axis=1,inplace=True)
df

   Team  home  ml_odds  ml_outcome
0   BOS     1      162           0
1   NYY     0     -183           1
2   ATL     1     -132           1
3   NYM     0      117           0
4   CIN     1     -174           1
5   DET     0      154           0
6   BAL     1      169           0
7   TBR     0     -192           1
8   CHW     1     -158           1
9   KCR     0      141           0
10  COL     1     -108           0
11  SDP     0     -105           1
12  CLE     1     -121           1
13  MIN     0      107           0
14  CHC     1     -240           1
15  PIT     0      188           0
16  SFG     1      107           0
17  TEX     0     -121           1
18  HOU     1     -179           1
19  LAA     0      157           0
20  OAK     1     -197           1
21  SEA     0      173           0
22  ARI     1      116           0
23  LAD     0     -131           1

In [6]:
from joblib import dump, load
rf = load('ml_rf.joblib')

In [7]:
predictions = rf.predict(df2).tolist()
df['ml_outcome2'] = predictions
df

   Team  home  ml_odds  ml_outcome  ml_outcome2
0   BOS     1      162           0            0
1   NYY     0     -183           1            1
2   ATL     1     -132           1            0
3   NYM     0      117           0            0
4   CIN     1     -174           1            1
5   DET     0      154           0            0
6   BAL     1      169           0            1
7   TBR     0     -192           1            1
8   CHW     1     -158           1            0
9   KCR     0      141           0            0
10  COL     1     -108           0            0
11  SDP     0     -105           1            0
12  CLE     1     -121           1            1
13  MIN     0      107           0            0
14  CHC     1     -240           1            1
15  PIT     0      188           0            0
16  SFG     1      107           0            1
17  TEX     0     -121           1            0
18  HOU     1     -179           1            1
19  LAA     0      157           0            1
20  OAK     1     -197           1            1
21  SEA     0      173           0            0
22  ARI     1      116           0            0
23  LAD     0     -131           1            1

In [8]:
df.to_csv('ml_predictions.csv')